.root {
  min-height: 100vh;
}

.root.empty {
  @apply bg-secondary text-secondary;
}

.lineItemsList {
  @apply py-2;
}

.lineItemsList li {
  border-bottom: 1px solid var(--border-subtle);
}

.lineItemsList li:last-child {
  border-bottom: none;
}
