.root {
  @apply flex flex-col;
  padding: 16px 0;
}

.quantity {
  appearance: textfield;
  @apply w-8 border-accent-2 border mx-3 rounded text-center text-sm text-black;
}

.quantity::-webkit-outer-spin-button,
.quantity::-webkit-inner-spin-button {
  @apply appearance-none m-0;
}

.productImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.productName {
  font-size: 14px;
  font-weight: 500;
  color: var(--text-base);
  cursor: pointer;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.4;
}
