.body {
  font-family: var(--font-sans);
  color: var(--text-base);
  line-height: 1.6;
  font-size: 1rem;
  max-width: 72rem;
  margin-left: auto;
  margin-right: auto;
}

.heading {
  font-family: var(--font-heading);
  color: var(--text-base);
  letter-spacing: -0.02em;
  font-size: 3rem;
  font-weight: 600;
  padding-top: 0.25rem;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
}

.pageHeading {
  font-family: var(--font-heading);
  color: var(--text-base);
  letter-spacing: -0.02em;
  font-size: 1.5rem;
  line-height: 1.75rem;
  font-weight: 700;
  padding-top: 0.25rem;
  padding-bottom: 1rem;
}

.sectionHeading {
  font-family: var(--font-heading);
  color: var(--text-base);
  letter-spacing: -0.02em;
  font-size: 1.5rem;
  font-weight: 700;
  padding-top: 0.25rem;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
}

/* Rich content styles for body variant */

.body :is(h1, h2, h3, h4, h5, h6, p, ul, ol) {
  margin-bottom: 1rem;
}

.body :is(h1, h2, h3, h4, h5, h6):not(:first-child) {
  margin-top: 2rem;
}

.body :is(h1, h2, h3, h4, h5, h6) {
  font-family: var(--font-heading);
  font-weight: 600;
  letter-spacing: -0.02em;
}

.body h1 {
  font-size: 3rem;
}

.body h2 {
  font-size: 2.25rem;
}

.body h3 {
  font-size: 1.875rem;
}

.body h4 {
  font-size: 1.5rem;
}

.body h5 {
  font-size: 1.25rem;
}

.body h6 {
  font-size: 1.125rem;
}

.body ul,
.body ol {
  padding-left: 1.5rem;
}

.body ul {
  list-style-type: disc;
}

.body ol {
  list-style-type: decimal;
}

.body a {
  color: var(--brand);
  text-decoration: underline;
}

.body a:hover {
  text-decoration: none;
}
