.swatch {
  box-sizing: border-box;
  composes: root from '../../ui/Button/Button.module.css';
  @apply bg-primary text-primary rounded-full inline-flex
  items-center justify-center cursor-pointer transition duration-150 ease-in-out
  p-0 shadow-none select-none;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: 1px solid var(--border-subtle);
  margin-right: 8px;
  overflow: hidden;
}

.swatch::before,
.swatch::after {
  box-sizing: border-box;
}

.swatch:hover {
  @apply transform scale-110;
}

.swatch > span {
  @apply absolute;
}

.color {
  @apply text-black transition duration-150 ease-in-out;
}

.color:hover {
  @apply text-black;
}

.color.dark,
.color.dark:hover {
  color: white !important;
}

.active {
  border: none;
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px var(--brand);
}

.textLabel {
  @apply w-auto px-4;
  min-width: 3rem;
  border-radius: 14px;
  height: 28px;
}

.active.textLabel {
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px var(--brand);
}
