.root {
  @apply relative h-full flex flex-col;
}

.header {
  @apply sticky top-0 px-4 py-4
  flex items-center justify-between
  box-border w-full z-10;
  background: #ffffff;
  min-height: 66px;
  border-bottom: 1px solid var(--border-subtle);
}

.container {
  @apply flex flex-col flex-1 box-border;
}

@screen lg {
  .header {
    min-height: 74px;
  }
}
